
<nav class="navbar navbar-expand-lg navbar-dark " style="width: 100%;background-color: darkgray;">
  <a class="navbar-brand">HomePage <br>
    Main Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    style="float: right;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="color: white;">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/tasks' style="color: white;">Task <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/task2' style="color: white;">Task2</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/movies' style="color: white;">Movies</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink='/udemy' style="color: white;">Udemy</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" style="color: white;">
      <li class="nav-item active">
        <a class="nav-link"  style="color: white;">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white;">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white;">Settings</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: white;">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
    
    

